{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

#set system font
dconf_schema="org.gnome.desktop.interface"
gsettings set $dconf_schema font-name "Sans Bold 14"

#set terminal font
profile=$(gsettings get org.gnome.Terminal.ProfilesList default)
profile=${profile:1:-1}
dconf_schema="org.gnome.Terminal.Legacy.Profile:/org/gnome/terminal/legacy/profiles:/:$profile/"
gsettings set $dconf_schema use-system-font false
gsettings set $dconf_schema font "Monospace Bold 15"


{{ end -}}
